.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    font-size: 24pxpx;
    font-family: "Roboto", sans-serif;
    color: #f9faf8;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 24px;
}

.nav-links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.hero {
    background-color: #1f2937;
    padding: 100px 10%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-title {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #f9faf8;
}

.hero-button {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #2a67d8;
}

.hero-content {
    flex: 1;
}

.hero-image {
    flex: 1;
    background-color: #6d747d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 250px;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10%;
}

.features-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.card-image {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-text {
    text-align: center;
    color: #666;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 20%;
}

.quote-container {
    max-width: 800px;
    margin: 0 auto;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 20px;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.cta {
    padding: 100px 10%;
}

.cta-container {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text {
    color: white;
}

.cta-title {
    font-size: 24px;
    margin-bottom: 5px;
}

.cta-subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

.cta-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}